.title-header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: red;   
    background-color: aquamarine;
}

.site-card-wrapper {
    margin: auto;
    width: 950px;
    padding-bottom: 20px;
}

.accordion {
    margin: auto;
    width: 900px;
}

.button-modal {
    margin-top: 10px;
    width: 100%;
}